body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
}

.image-container {
    position: relative;
    z-index: 0;
}

.background-image {
    width: 600px;
    height: auto;
    display: block;
    margin: auto;
}

.svg-container {
    position: absolute;
    top: 59%;
    width: 1245px;
    left: 51.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

svg {
    width: 600px;
    height: auto;
}

.change-effect {
    animation: colorChange 3s infinite alternate, borderGlow 3s infinite alternate;
}

@keyframes colorChange {
    0% {
        fill: #ffffff;
    }
    50% {
        fill: #d0ffff;
    }
    100% {
        fill: #9ed2ff;
    }
}

@keyframes borderGlow {
    0% {
        stroke: #ffffff;
        stroke-width: 0;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    }
    50% {
        stroke: #d0ffff;
        stroke-width: 0.5;
        filter: drop-shadow(0 0 20px rgba(24, 255, 255, 0.75));
    }
    100% {
        stroke: #9ed2ff;
        stroke-width: 1;
        filter: drop-shadow(0 0 30px rgb(58, 98, 163));
    }
}
